[Unit]
Description=Betabox Launchpad
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=pi
Group=pi

WorkingDirectory=/opt/libs/betabox_robotics

Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/opt/libs

ExecStart=/opt/betabox/venv/bin/betabox launchpad

Restart=on-failure
RestartSec=3

TimeoutStopSec=15
KillSignal=SIGTERM

PrivateTmp=false

[Install]
WantedBy=multi-user.target
